<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
  {% feed_meta %}
  {% seo %}
</head>
<body>
  <div class="site">
    <div class="title">
      <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
      <a class="extra" href="{{ '/about/' | relative_url }}">about</a>
      <a class="extra" href="{{ '/feed.xml' | relative_url }}">rss</a>
    </div>

    {{ content }}

    <div class="footer">
      <div class="contact">
        &copy; {{ site.time | date: '%Y' }} {{ site.author }}
      </div>
      <div class="rss">
        <a href="{{ '/feed.xml' | relative_url }}">subscribe via rss</a>
      </div>
    </div>
  </div>
</body>
</html>
